
#content {
  display: grid;
  /* max-height: 800px; */
  height: 100vh;
  width: 100vw;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  max-width: 580px;
  max-height: 550px;
  padding-top: 10px;
}
h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  background-image: url('./img/home.gif');
  height: 90px;
  width: 310px;
  padding: 0;
  z-index: 1;
}
h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./img/chateau.gif');
  height: 158px;
  width: 310px;
  margin: 0 auto;
  padding: 0;
  z-index: 2;
}
h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('./img/logo.gif');
  height: 39px;
  width: 310px;
  margin: 0 auto;
  padding-bottom: 15px;
  z-index: 3;
}
#mainTableOne {
  display: grid;
  justify-content: center;
  /*margin: 0 auto;  */
  left: 36%;
  float: left;
  height: 185px;
  width: 290px; /* 275px; */
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.tableOne {
  display: grid;
  justify-content: center;
  /*margin: 0 auto;  */
  text-align: left;
  vertical-align: top;
  background-image: url('./img/winery.jpg');
  height: 58px;
  width: 56px;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.tableTwo {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  justify-items: top;
  /* padding-left: 15px; */
  height: 36px;
  font-size: 16px;
  color: blue;
  text-decoration: underline;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.tableThree{
  display: grid;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  padding-left: 70px;
  height: 135px;
  width: 184px;
  font-size: 13px;
  color: black;
}
#mainTableTwo {
  display: grid;
  justify-content: center;
  /* margin: 0 auto; */
  left: 36%;
  top: 52%;
  height: 110px;
  width: 290px; /* 276px; */
  float: left;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2; 
}
.tableFour {
  display: grid;
  justify-content: center;
  /*margin: 0 auto;  */
  text-align: left;
  vertical-align: top;
  border: none;
  height: 58px;
  width: 56px;
  background-image: url('./img/pressed.jpg');
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.tableFive {
  display: grid;
  justify-content: center;
  margin: 0 auto;  
  text-align: center;
  justify-items: top;
  padding-right: 25px; 
  height: 36px;
  font-size: 16px;
  color: blue;
  text-decoration: underline;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}
.tableSix {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  padding-left: 70px;
  height: 60px;
  width: 170px;
  font-size: 13px;
  color: black;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}
#mainTableThree {
  display: grid;
  justify-content: center;
  /*margin: 0 auto;  */
  align-self: center;
  left: 36%;
  top: 65%;
  height: 123px ;
  width: 290px; /* 276px; */
  float: left;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}
.tableSeven {
  display: grid;
  justify-content: center;
  /*margin: 0 auto;  */
  text-align: left;
  vertical-align: top;
  border: none;
  height: 58px;
  width: 56px;
  background-image: url('./img/csmbook.jpg');
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.tableEight {
  display: grid;
  justify-content: center;
  margin: 0 auto;  
  text-align: center;
  justify-items: top;
  padding-right: 25px; 
  height: 36px;
  font-size: 16px;
  color: blue;
  text-decoration: underline;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}
.tableNine {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  padding-left: 70px;
  height: 60px;
  width: 170px;
  font-size: 13px;
  color: black;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 3;
}
 /* #lineElement {
  display: flex;
  position: absolute;
  overflow-y: hidden;
  max-height: 555px;
  height: 550px;
  width: 1px; 
  border: 1px solid black;
  fill: black;
  background-image: url(./img/blk_line.gif);
  top: 32%;
  left: 50%;
  align-self: center;
  margin: 0 auto; 
  z-index: -1; 
} */
#mainTableFour {
  display: grid;
  justify-content: center;
  /*margin: 0 auto; */
  right: 35%;
  float: right;
  height: 240px ;
  width: 290px; /* 273px; */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.tableTen {
  display: grid;
  justify-content: center;
  /*margin: 0 auto;  */
  text-align: left;
  vertical-align: top;
  height: 58px;
  width: 56px;
  background-image: url('./img/vineyards.jpg');
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.tableEleven {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  justify-items: top;
  /* padding-left: 15px; */
  height: 36px;
  font-size: 16px;
  color: blue;
  text-decoration: underline;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.tableTwelve {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  padding-left: 70px;
  height: 192px;
  width: 195px;
  font-size: 13px;
  color: black;
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
}
#mainTableFive {
  display: grid;
  right: 35%;
  top: 61%;
  align-self: center;
  /*margin: 0 auto;  */
  height: 160px ;
  width: 290px; 
  float: right;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 2;
}
.tableThirteen {
  display: grid;
  justify-content: center;
  /*margin: 0 auto;  */
  text-align: left;
  vertical-align: top;
  border: none;
  height: 58px;
  width: 56px;
  background-image: url('./img/flavors.jpg');
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 2;
}
.tableFourteen {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  justify-items: top;
  /* padding-left: 15px; */
  height: 36px;
  font-size: 16px;
  color: blue;
  text-decoration: underline;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 2;
}
.tableFifteen {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  padding-left: 70px;
  height: 105px;
  width: 195px;
  font-size: 13px;
  color: black;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 3;
}
.footerElement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  width: 259px;
  font-size: 10px;
  padding-top: 10px;
}
.sourceCited {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  font-size: 12px;
  padding-top: 10px;
}
@media only screen and (max-width: 600px) {
  #content {
    margin: 0 auto;
    display: grid;
    height: fit-content !important;
    width: fit-content !important;
  }
}